@charset "UTF-8";

.header{position:relative;}
.header.line{border-top:4px solid #535962;}
.head {height:93px; }
.head_top {width:1100px; height:50px; margin:0 auto; overflow:hidden; position:relative;}
.head_top .logo {width:150px;}
.head_top h1 {float:left; margin-top:8px;}
.head_top .material-symbols-outlined {float: right; margin-top: 10px;}
.head_top .iconText{float: right; margin: 13px 0 0 15px; text-decoration: none; color:black;}

.head_bottom { height:43px; background:#005b23; clear:both;}
.head_bottom_in {width:1100px; margin:0 auto; overflow:hidden;}
.head_bottom_in .head_menu{width:960px; overflow:hidden;}
.head_menu{float:left;}
.head_menu:hover + .local_menu {display: block;}
.head_menu li {float:left;}
.head_menu li:first-child a{width:191px;}
.head_menu li a {display:flex; height:43px; line-height:50px; color:#fff;font-size:20px; width:191px; text-align:center; text-decoration: none; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; justify-content: center; align-items: c}
.head_menu li.on a {background:#00471b;}
.head_menu li a:hover {background:#00471b;} 

/*고객헤더*/
.custom_head_bottom {height:43px; background:#C40723; clear:both; margin-top: 10px;}
.custom_head_bottom .custom_head_menu{width:384px; overflow:hidden; margin-left: 280px;}
.custom_head_menu li {float:left;}
.custom_head_menu li:first-child a{width:191px;}
.custom_head_menu li a {display:flex; height:43px; line-height:50px; color:#fff;font-size:20px; width:191px;text-align:center; text-decoration: none; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; justify-content: center; align-items: center;}
.custom_head_menu li.on a {background:#99051B;}
.custom_head_menu li a:hover {background:#99051B;}

/*헤더메뉴*/
.local_menu {width:1098px;display: none;}
.local_menu:hover {display: block;}
.local_menu_in {display:flex; width:955px; background:#ffffff;border-bottom:1px solid #d5d5d5;overflow:hidden; border-left:1px solid #a7dcbe; border-bottom:1px solid #a7dcbe; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.local_menu .lm {display:flex; float:left; width:190px; border-right:1px solid #a7dcbe; padding-bottom:17px;}
.local_menu .lm:last-child{border-right:1px solid #a7dcbe;}
.local_menu .lm ul {margin:15px 0 0 15px;}
.local_menu .lm ul li {line-height:22px;}
.local_menu .lm ul li a {font-size:13px; color:black; text-decoration: none; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.local_menu .lm ul li.on a {color:#005b23;text-decoration:underline;}
.local_menu .lm ul li a:hover {color:#005b23;text-decoration:underline;}
.local_menu .lm.group1:hover{background:#a7dcbe;}
.local_menu .lm.group2:hover{background:#a7dcbe;}
.local_menu .lm.group3:hover{background:#a7dcbe;}
.local_menu .lm.group4:hover{background:#a7dcbe;}
.local_menu .lm.group5:hover{background:#a7dcbe;}

/*푸터메뉴*/
.footer_line {border: 2px solid #005B23; margin-top: 30px}
.footer_bottom {display: flex; justify-content: space-between; padding: 30px;}
.footer_bottom .info-dropdown {padding: 10px 0px 10px 0px; line-height: 140%;}

/*고객푸터*/
.custom_footer_line {border: 2px solid #C40723; margin-top: 30px}
.custom_footer_bottom {display: flex; justify-content: space-between; padding: 30px;}
.custom_footer_bottom .customLogo {width: 400px;}
.custom_footer_bottom .customLogo img{display: block; max-width: 100%;}
.custom_footer_bottom .info-dropdown {padding: 10px 0px 10px 0px; line-height: 140%;}


/*itemList*/
.item_content {margin: 10px auto 10px auto; width: 1200px; display: grid; justify-content: center; padding: 30px 0px; grid-template-rows: 90px 3fr 50px;}
.item_content .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.item_content .item {border: 2px solid #005b23; padding: 10px}
.item_content .item_btn{text-align: center; padding-top: 10px;}
.item_content .item_btn .addBtn, .orderBtn, .deleteBtn, .updateBtn, .updateItem, .deleteItem {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 150px; height: 40px; margin: 15px 30px;}
.item_content .item_btn .addBtn:hover, .orderBtn:hover, .updateBtn:hover, .deleteBtn:hover {background:#005b23; color: #ffffff}
.table_top {display: grid; grid-template-columns: 3fr 100px 100px 100px 100px; gap: 10px; font-weight: bold; text-align: center;}
.t_head, .t_body {padding: 5px; border: 1px solid #005b23}
.table_body {display: grid; grid-template-columns: 3fr 100px 100px 100px 100px; gap: 10px; text-align: center;}

/*itemAdd*/
.add_content{margin: 10px auto 10px auto; width: 1000px; display: grid; justify-content: center; padding: 30px 0px; grid-template-rows: 90px 3fr; height: 500px;}
.add_content .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.add_content .add_form {border: 2px solid #005b23; padding: 10px;}
.add_content .add_form .addRow1 {display: grid; grid-template-columns: 120px 1fr; margin: 30px auto; gap: 10px;}
.add_content .add_form .addRow2 {display: grid; grid-template-columns: 120px 1fr 120px 1fr; margin: 30px auto; gap: 10px;}
.add_content .add_form .addRow3 {display: grid; grid-template-columns: 120px 1fr; margin: 30px auto; gap: 10px;}
.add_content .add_form .addRow1 .inner_name {text-align: center; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; border: 1px solid #005b23; padding: 10px;}
.add_content .add_form .addRow2 .inner_name {text-align: center; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; border: 1px solid #005b23; padding: 10px;}
.add_content .add_form .addRow3 .inner_name {text-align: center; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; border: 1px solid #005b23; padding: 10px;}
.add_content .add_form .addRow1 .form_controll {width: 595px; height: 35px; border: 1px solid #005b23;}
.add_content .add_form .addRow2 .form_controll_half {width: 210px; height: 35px; border: 1px solid #005b23;}
.add_content .add_form .addRow3 .add_radio {font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; accent-color: #005b23; height: 35px;}
.add_content .add_form .addRow3 .add_radio input[type=radio] {margin: 12px 5px; vertical-align: middle;}
.add_content .add_form .addBtn, .resetBtn, .listBtn {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 150px; height: 40px; margin: 15px 50px;}
.add_content .add_form .addBtn:hover, .resetBtn:hover, .listBtn:hover {background:#005b23; color: #ffffff;}

/*checkItem*/
.check_item_content {margin: 10px auto 10px auto; width: 1200px; display: grid; justify-content: center; padding: 30px 0px; grid-template-rows: 90px 1fr;}
.check_item_content .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.check_item_content .item {border: 2px solid #005b23; padding: 10px;}
.check_table_top {display: grid; grid-template-columns: 100px 3fr 100px 100px 100px 100px; gap: 10px; font-weight: bold; text-align: center;}
.check_table_body {display: grid; grid-template-columns: 100px 3fr 100px 100px 100px 100px; gap: 10px; text-align: center;}
.check_table_body a:hover {transform: scale(2); color: #005b23; font-weight: bold; cursor: pointer;}

/*buyItem*/
.buy_item_nav {position: fixed; right: 10px; top: 250px; width: 300px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.buy_form {display: none; grid-template-rows: 50px 1fr; grid-template-columns: 1fr;}
#buyFormToggle {display: flex; cursor: pointer; margin-left: auto; width: 70px; height: 70px; border: 1px solid #005b23; border-radius: 70%; align-items: center; justify-content: center; background-color: #005b23; color: #ffffff;}
#buyFormToggle.hidden {display: none;}
.buy_item_nav .buy_form .name {display:flex; justify-content: center; vertical-align: middle; font-size: 20px;}
.buy_item_nav .buy_input {width: 50px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.buy_item_nav .inner_buy_form {display: grid; grid-template-rows: 20px 20px 1fr 20px; gap: 10px;}
.buy_item_nav .inner_buy_form .buy_content {display: grid; grid-template-columns: repeat(4, 1fr);}
.buy_item_content {margin: 20px auto 20px auto; width: 1200px; display: grid; justify-content: center; padding: 30px 0px; grid-template-rows: 90px 1fr;}
.buy_item_content .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.buy_item_content .item {border: 2px solid #005b23; padding: 10px;}
.buy_check_item_content {margin: 10px 0px;}
.buy_check_item_content button {border: 1px solid red; margin-left: 10px; background-color: red; color: #ffffff; border-radius: 70%;}
.buy_table_top {display: grid; grid-template-columns: 100px 3fr 100px 100px 100px 100px; gap: 10px; font-weight: bold; text-align: center;}
.buy_table_body {display: grid; grid-template-columns: 100px 3fr 100px 100px 100px 100px; gap: 10px; text-align: center;}
.addItemListBtn, .buy_itemBtn {border: 1px solid #005b23; width: 100px; position:absolute; right: 17px; background-color: #ffffff; color: #005b23; height: 30px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.addItemListBtn:hover, .buy_itemBtn:hover {background-color: #005b23; color: #ffffff;}

/*product*/
.goAddProduct {position: fixed; right: 10px; top: 150px; width: 70px; height: 70px;  border: 1px solid #005b23; background-color: #005b23; color: #ffffff; border-radius: 70%; cursor: pointer;}
.goAddProduct a {display:flex; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; margin-top: 25px; margin-left: 6px;}
.product_content {display:grid; grid-template-rows: 90px 1fr; gap:10px; width: 70%; height: 580px; margin: 10px auto; padding: 30px 0px;}
.product_content .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.product_content .card_form {display: grid; grid-template-rows: 1fr 100px;}
.product_content .card_form .card_list {display: grid; grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(4, 1fr); align-items: center;}
.product_content .card_form .card_list .card {grid-template-columns: 90px 1fr; width: 80%; height: 120px; margin: 0px auto;}
.product_content .card_form .card_list .card:hover {cursor: pointer;}
.product_content .card_left {border: 1px solid #005b23;}
.product_content .card_right {border: 1px solid #005b23; width: 170px;}
.product_content .p_content {font-size: 16px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; margin: 10px 5px;}
.product_content .pagination {margin-top: 20px; text-align: center;}
.product_content .pagination button {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 150px; height: 40px; margin: 15px 50px;}
.product_content .pagination button:hover {background-color: #005b23; color: #ffffff;}
.product_content .pagination button:disabled {opacity: 0.5; cursor: not-allowed;}

/*custom_product*/
.product_content .content_name {text-align:center; color:#C40723; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.product_content .pagination .custom_button {border-radius: 20px; border-style: solid; border-color:#C40723; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #C40723; font-size: 20px; width: 150px; height: 40px; margin: 15px 50px;}
.product_content .pagination .custom_button:hover {background-color: #C40723; color: #ffffff;}
.product_content .pagination .custom_button:disabled {opacity: 0.5; cursor: not-allowed;}

/*detail_product*/
.productDetail {display: grid; grid-template-columns: repeat(2, 1fr); gap:10px; width: 70%; height: 580px; margin: 10px auto; padding: 30px 0px; border: 1px solid #005b23; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; font-size: 20px;}
.productDetail .productDetailImg {width: 400px; margin: auto;}
.productDetail .productDetailImg > img {width: 100%;}
.productDetail .productContent {display: grid; grid-template-rows: 1fr 50px;}
.productDetail .productContent .content {display:grid; grid-template-columns: 150px 1fr;}
.productDetail .productContent .updateBtn {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 150px; height: 40px; margin: 0px 50px;}
.productDetail .productContent .deleteBtn {border-radius: 20px; border-style: solid; border-color:red; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: red; font-size: 20px; width: 150px; height: 40px; margin: 0px 50px;}
.productDetail .productContent .updateBtn:hover {background-color: #005b23; color: #ffffff;}
.productDetail .productContent .deleteBtn:hover {background-color: red; color: #ffffff;}

/*custom_detail_product*/
.custom_productDetail {display: grid; grid-template-columns: repeat(2, 1fr); gap:10px; width: 70%; height: 580px; margin: 30px auto; padding: 30px 0px; border: 1px solid #C40723; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; font-size: 20px;}
.custom_productDetail .productDetailImg {width: 400px; margin: auto;}
.custom_productDetail .productDetailImg > img {width: 100%;}
.custom_productDetail .productContent {display: grid; grid-template-rows: 1fr 50px;}
.custom_productDetail .productContent .content {display:grid; grid-template-columns: 150px 1fr;}
.custom_productDetail .productContent .itemValue, .itemPrice {display: none;}
.custom_productDetail .productContent .buyBtn {border-radius: 20px; border-style: solid; border-color:#C40723; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #C40723; font-size: 20px; width: 150px; height: 40px; margin: 0px 200px;}
.custom_productDetail .productContent .buyBtn:hover {background-color: #C40723; color: #ffffff;}

/*add_product*/
.addProduct {margin: 10px auto 10px auto; width: 1000px; display: grid; justify-content: center; padding: 30px 0px; grid-template-rows: 90px 1fr;}
.addProduct .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.addProduct .addForm {display: grid; grid-template-columns: 400px 1fr; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; gap: 30px;}
.addProduct .addForm .addImage {border: 1px solid #005b23; position: relative;}
.addProduct .addForm .addImage .addImageLabel {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #777; font-size: 14px; pointer-events: none;}
.addProduct .addForm .addImage .imgPreview {display: none; width: 100%;}
.addProduct .addForm .addImage .imgPreview[src] {display: block; width: 100%;}
.addProduct .addForm .addItem {display: grid; grid-template-rows: 50px 1fr 50px; gap: 10px;}
.addProduct .addForm .addItem .insertProductName {display: grid; grid-template-columns: 100px 1fr; gap: 10px;}
.addProduct .addForm .addItem .insertProductName .addInputName {margin: 16px 0px;}
.addProduct .addForm .addItem .insertProductName input {margin: 10px 0px; padding-left: 10px;}
.addProduct .addForm .addItem .addSelect {display: grid; grid-template-rows: repeat(8, 1fr); grid-template-columns: 100px 1fr; gap: 10px;}
.addProduct .addForm .addItem .addSelect .addSelectName {margin: 7px 0px;}
.addProduct .addForm .addItem .addSelect .addSelectContent {height: 30px;}
.addProduct .addForm .addItem .addProductBtn, .addProductBtn {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 15px; width: 100px; height: 30px; margin: 10px 0px 10px 70px;}
.addProduct .addForm .addItem .addProductBtn:hover, .addProductBtn:hover {background-color: #005b23; color: #ffffff;}

/*update_product*/
.updateProduct {display:none; margin: 10px auto 10px auto; width: 1000px; justify-content: center; padding: 30px 0px; height: 540px;}
.updateProduct .updateForm {display: grid; grid-template-columns: 400px 1fr; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; gap: 30px; height: 450px;}
.updateProduct .updateForm .updateImage {border: 1px solid #005b23; position: relative;}
.updateProduct .updateForm .updateImage .addImageLabel {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #777; font-size: 14px; pointer-events: none;}
.updateProduct .updateForm .updateImage .imgPreview {display: none; width: 100%;}
.updateProduct .updateForm .updateImage .imgPreview[src] {display: block; width: 100%;}
.updateProduct .updateForm .updateItem {display: grid; grid-template-rows: 50px 1fr 50px; gap: 10px;}
.updateProduct .updateForm .updateItem .updateProductName {display: grid; grid-template-columns: 100px 1fr; gap: 10px;}
.updateProduct .updateForm .updateItem .updateProductName .updateInputName {margin: 16px 0px;}
.updateProduct .updateForm .updateItem .updateProductName input {margin: 10px 0px; padding-left: 10px;}
.updateProduct .updateForm .updateItem .updateSelect {display: grid; grid-template-rows: repeat(8, 1fr); grid-template-columns: 100px 1fr; gap: 10px;}
.updateProduct .updateForm .updateItem .updateSelect .updateSelectName {margin: 7px 0px;}
.updateProduct .updateForm .updateItem .updateSelect .updateSelectContent {height: 30px;}
.updateProduct .updateForm .updateItem .updateProductBtn, .updateProductBtn {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 15px; width: 100px; height: 30px; margin: 10px 0px 10px 70px;}
.updateProduct .updateForm .updateItem .updateProductBtn:hover, .updateProductBtn:hover {background-color: #005b23; color: #ffffff;}

/*addItem_modal*/
.modal {display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.4);}
.modal-content {display: grid; grid-template-rows: 30px 1fr; background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 50%;}
.modal-content .modal_inner_content {display: grid; grid-template-rows: 50px 3fr; gap: 10px;}
.modal-content .modal_inner_content .modal_header {color: #005b23; font-size: 20px; text-align: center; font-weight: bold; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.modal-content .modal_inner_content .inner_value {display: flex; align-items: center; justify-content: center;}
.modal-content .modal_inner_content .updateRow1 {display: grid; grid-template-columns: 150px 100px 150px 1fr; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; font-size: 15px; gap: 10px; margin: 15px 0px;}
.modal-content .modal_inner_content .updateRow2 {display: grid; grid-template-columns: 150px 180px 150px 150px 120px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; text-align: center; font-size: 15px; gap: 10px; margin: 15px 0px;}
.modal-content .modal_inner_content .updateRow3 {display: grid; grid-template-columns: 150px 1fr; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; text-align: center; font-size: 15px; margin: 15px 0px;}
.modal-content .modal_inner_content .updateRow1 input {width: 80%; height: 27px;}
.modal-content .modal_inner_content .updateRow2 input {height: 27px;}
.modal-content .modal_inner_content .updateRow4 {text-align: center;}
.modal-content .modal_inner_content .inner_name {display:flex; align-items:center; justify-content:center; border: 1px solid #005b23; height: 30px;}
.modal-content .modal_inner_content .updateRow3 .update_radio {font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; accent-color: #005b23; height: 35px;}
.modal-content .modal_inner_content .updateRow3 .update_radio input[type=radio] {margin: 12px 5px; vertical-align: middle;}
.modal-content .modal_inner_content .modal_updateBtn {border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 150px; height: 40px; margin: 15px 50px;}
.modal-content .modal_inner_content .modal_deleteBtn {border-radius: 20px; border-style: solid; border-color:red; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: red; font-size: 20px; width: 150px; height: 40px; margin: 15px 50px;}
.modal-content .modal_inner_content .modal_updateBtn:hover {background-color: #005b23; color: #ffffff;}
.modal-content .modal_inner_content .modal_deleteBtn:hover {background-color: red; color: #ffffff;}
.close {color: #aaa; font-size: 28px; font-weight: bold; cursor: pointer; margin-left:auto; margin-right: 5px;}
.close:hover, .close:focus {color: black; text-decoration: none; cursor: pointer;}

/*leave*/
table.type100{margin-left: auto; margin-right: auto;}
table.type07{border-collapse:collapse;text-align:left;line-height:1.5;border:1px solid #ccc;margin:20px 10px}
table.type07 thead{border-right:1px solid #ccc;border-left:1px solid #ccc;background:#e7708d}
table.type07 thead th{padding:10px;font-weight:700;vertical-align:top;color:#fff;text-align:center}
table.type07 tbody th{width:250px;padding:10px;font-weight:700;vertical-align:top;border-bottom:1px solid #ccc;background:#fcf1f4;text-align:center}
table.type07 td{width:350px;padding:10px;vertical-align:top;border-bottom:1px solid #ccc;text-align:center}
.levmodal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.5)}
.modal_content{background-color:#fefefe;margin:7% auto;padding:60px;border:1px solid #888;width:25%}
table.type09{border-collapse:collapse;text-align:left;line-height:1.5;margin-left:auto;margin-right:auto}
table.type09 thead th{padding:10px;font-weight:700;vertical-align:top;color:#369;border-bottom:3px solid #036;background:#dcdcd1}
table.type09 thead td{padding:10px;font-weight:700;vertical-align:top;color:#369;border-bottom:3px solid #036;background:#dcdcd1}
table.type09 tbody th{width:150px;padding:10px;font-weight:700;vertical-align:top;border-bottom:1px solid #ccc;border-top:1px solid #ccc;background:#f3f6f7}
table.type09 td{width:300px;padding:10px;vertical-align:top;border-bottom:1px solid #ccc}
table.type02{border-collapse:separate;border-spacing:0;text-align:center;line-height:1.5;border-top:1px solid #ccc;border-left:1px solid #ccc;margin-left:auto;margin-right:auto}
table.type02 th{font-weight:700;vertical-align:top;text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #fff;border-left:1px solid #fff;background:#eee}
table.type02 input.lbutton{font-size:17px}
.leave_content {margin: 5px auto 5px auto; width: 1200px; display: grid; justify-content: center; padding: 0px 0px; grid-template-rows: 60px 3fr 0px;}
.leave_content .name {text-align:center; color:#005b23; font-size:40px; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;}
.levForm{text-align: center;}
.leaveButton{justify-content: center; border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 150px; height: 40px; margin: 15px 30px;}
.leaveButton2{justify-content: center; border-radius: 20px; border-style: solid; border-color:#005b23; background-color: #ffffff; font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif; color: #005b23; font-size: 20px; width: 250px; height: 40px; margin: 15px 30px;}
.leaveButton:hover , .leaveButton2:hover {background:#005b23; color: #ffffff;}

/*login*/	
.loginPage{width:420px;padding:40px;height:auto;top:20%;left:30%;margin:0 auto 11%;border-bottom:5px solid #005B23;border-top:5px solid #005B23}
.login_title{margin:6% auto 0;text-align:center;text-indent:-350px;padding:20px;font-size:30px}
.login_input{width:200px;height:30px;margin:0 0 20px 20px;border:1px solid #005B23;display:inline-block;font-weight:600;transition:.25s}
.login_table{margin:0 auto}
.changeType{font-size:14px;line-height:17px;text-decoration:none;color:#888}
#loginButton{width:300px;height:36px;margin-left:60px;margin-top:20px;border:none;display:inline-block;border-radius:15px;box-shadow:0 15px 35px rgba(0,0,0,0.1);text-decoration:none;font-weight:600;transition:.25s;color:#f8f8ff;background-color:#005B23}
#loginButton:hover{transform:scale(1.2)}
#atag{text-align:right;margin-right:1%}

/*join*/
.joinPage{width:540px;padding:40px;height:auto;top:20%;left:30%;margin:0 auto 3%;border-bottom:5px solid #005B23;border-top:5px solid #005B23}
.join_title{margin:3% auto 0;text-align:center;text-indent:-420px;padding:10px;font-size:30px}
.join_input{width:330px;height:30px;border:1px solid #005B23;display:inline-block;font-weight:600;transition:.25s}
.joinButton{width:300px;height:36px;margin:60px 0 30px 110px;border:none;display:inline-block;border-radius:15px;box-shadow:0 15px 35px rgba(0,0,0,0.1);text-decoration:none;font-weight:600;transition:.25s;color:#f8f8ff;background-color:#005B23}
.joinButton:hover{transform:scale(1.2)}
.join_Row{padding:10px}
.join_list{display:inline-block;width:140px}
.join_radio_input{margin: 12px 5px;vertical-align: middle;accent-color: #005b23;margin : 0 20px 0 70px;}
#idCheckButton{margin:0;width:85px;height:30px}
#idChecklist{padding-left:30px}
#idCheckTitle{size:20px;text-indent:0;margin:20px}
#idCheckPage{overflow-x:hidden}

/*commute*/
.commute_title{margin:6% auto 0;text-align:center;text-indent:-365px;padding:20px;font-size:30px}
.commute_Page{width:420px;padding:55px;height:auto;top:20%;left:30%;margin:0 auto 11%;border-bottom:5px solid #005B23;border-top:5px solid #005B23}
.commute_Input{width:200px;height:30px;margin:0 0 20px 20px;display:inline-block;border:0;font-weight:900;font-size:30px;color:#000}
.commute_table{font-size:30px;margin:0 auto}
#commuteButton{width:360px;height:43px;margin-left:30px;margin-top:40px;border:none;display:inline-block;border-radius:15px;box-shadow:0 15px 35px rgba(0,0,0,0.1);text-decoration:none;font-weight:600;transition:.25s;color:#f8f8ff;background-color:#005B23;font-size:26px}
#commuteButton:hover{transform:scale(1.2)}
